.App {
  text-align: center;
}

.App-header {
  background-color: #6000a3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.global {
  border: black dotted 3px ;
  min-height: 100vh;
  max-width: 35vw;
  min-width: 35vw;
}

.global-head {
  border: black dotted 3px ;
  color: yellow;
  font-size: 60px;
}

.buttons {
  border: yellow solid 1px;
  color: yellow;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.buttons_frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quiz-frame{
  border: yellow solid 2px;
  width: 90%;
  height: 500px;
  margin-left: 5%;
  padding-top: 5px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.quiz{
  border: greenyellow solid 2px;
  min-height: 125px;
  margin: 5px 5px 5px 10px;
  overflow: hidden;
}